@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	margin-top: 0px;
	font-family: "Microsoft YaHei", "黑体";
	height: 100%;
}

.btn {
	border: 2px solid rgb(0, 89, 143);
	width: 150px;
}

.btn .btnImg {
	margin-left: 70px !important;
}

.hidden{
	display: none;
}

.show{
	display:block;
}

/**超小屏幕(手机，小于768px)*/
@media ( max-width :767px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size:120%; /* 10÷16=62.5% */
	}
	
	.add-on{
		font-size: 1rem;
	}
}

/**小屏幕(平板，大于等于768px)*/
@media ( min-width :768px) and (max-width:991px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size:120%; /* 10÷16=62.5% */
	}
	.add-on{
		font-size: 1rem;
	}
}

/**中等屏幕(桌面显示器，大于等于992px)*/
@media ( min-width :992px) and (max-width:1199px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size:120%; /* 10÷16=62.5% */
	}
	
	.add-on{
		font-size: 1rem;
	}
}

/**大屏幕(大桌面显示器，大于等于1200px)*/
@media ( min-width :1200px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size:130%; /* 10÷16=62.5% */
	}
	
	.add-on{
		font-size: 1rem;
	}
}