.linklist {
	width: 100%;
	height: 100%;
	border: 1px solid rgb(0, 89, 143);
}

/*tab页*/
.add_head {
	padding-top: 10px;
	padding-left: 14px;
	padding-bottom: 0px;
	border-top: 1px solid rgb(0, 89, 143);
	border-left: 1px solid rgb(0, 89, 143);
	border-right: 1px solid rgb(0, 89, 143);
	width: 100%;
	height: 39px;
	background: rgb(192, 232, 255);
}

.add_head a {
	width: 130px;
	height: 28px;
	float: left;
	text-align: center;
	font-weight: bold;
	line-height: 28px;
	background: rgb(0, 124, 195);
	border-left: 2px solid rgb(0, 89, 143);
	border-right: 2px solid rgb(0, 89, 143);
	border-top: 2px solid rgb(0, 89, 143);
	font-size: 13px;
	color: white;
	display: block;
	margin-right: 10px;
	text-decoration: none;
	display: block;
	font-size: 13px;
}

.add_head a:hover {
	background: #fff;
	color: rgb(151, 152, 154);
	text-decoration: none;
}

.add_head .current {
	background: #fff;
	color: rgb(151, 152, 154);
	border-bottom: none;
	height: 28px;
}

.add_header .current:before {
	border-bottom: 2px solid rgb(0, 89, 143);
}

.tab_search {
	width: 100%;
	background: #fff;
	padding: 15px 8px 5px 8px;
}

.tab_hidden {
	display: none;
}

.searchTable {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: 1px solid rgb(0, 89, 143);
}

.searchTable>tbody>tr>td {
	border: none;
}

.resultTable {
	border-collapse: separate;
	border-spacing: 2px;
}

.resultTable th {
	text-align: center;
	background: rgb(217, 217, 217);
	color: rgb(130, 131, 133);
	font-size: 16px !important;
}

.resultTable td {
	text-align: center;
	font-size: 12px !important;
}

.resultTable tr:nth-child(odd) td {
	background: rgb(203, 215, 233);
}

.resultTable tr:nth-child(even) td {
	background: rgb(231, 246, 245);
}

.approval_info {
	width: 98%;
	margin-left: 7px;
	margin-top: 20px;
}

.approval_info .table td {
	vertical-align: middle;
	border-top: none;
}

.pager {
	width: 100%;
	background: rgb(239, 243, 248);
	margin-top: 20px;
	display: inline-table;
}

.pager .pageNum {
	width: 80%;
	display: table-cell;
}

.pager .minMaxResult {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.linklist .select {
	width: 50%;
	margin-left: 0px;
	font-size: 12px;
	border: 2px solid rgb(166, 166, 166);
	/*很关键：将默认的select选择框样式清除*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url("../../img/select.png") no-repeat scroll right center
		transparent;
	background-size: 10px;
	appearance: none;
}

.imgDelete, .imgResetPass, .imgUpdate, .imgDisabled, .imgDetail,
	.imgPublish {
	cursor: pointer;
}

.approvalBtn {
	background: rgb(255, 0, 0);
	color: white;
}

.rejectBtn {
	background: rgb(71, 186, 235);
	color: white;
}