@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	margin-top: 0px;
	font-family: "Microsoft YaHei", "黑体";
	height: 100%;
}

.button {
	/* border: 2px solid rgb(0, 89, 143); */
	width: 150px;
}

.button .btnImg {
	margin-left: 70px !important;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

::-webkit-input-placeholder { 
	color: grey;
}

:-moz-placeholder { 
	color: grey;
	opacity: 1;
}

::-moz-placeholder { 
	color: grey;
	opacity: 1;
}

:-ms-input-placeholder { 
	color: grey;
}

/**苹果五手机*/
@media ( max-width :320px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 100%; 
	}
	.add-on {
		font-size: 1rem;
	}
}

/**Galaxy S5,魅族魅蓝*/
@media (min-width:321px) and ( max-width :360px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 120%; 
	}
	.add-on {
		font-size: 1rem;
	}
}
/**Nexus 5X,苹果六*/
@media (min-width:361px) and ( max-width :414px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 120%; 
	}
	.add-on {
		font-size: 1rem;
	}
}

/**苹果6plus*/
@media (min-width:415px) and ( max-width :768px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 120%; 
	}
	.add-on {
		font-size: 1rem;
	}
}

/**小屏幕(平板，大于等于768px)*/
@media ( min-width :769px) and (max-width:991px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 120%; 
	}
	.add-on {
		font-size: 1rem;
	}
}

/**中等屏幕(桌面显示器，大于等于992px)*/
@media ( min-width :992px) and (max-width:1199px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 120%;
	}
	.add-on {
		font-size: 1rem;
	}
}

/**大屏幕(大桌面显示器，大于等于1200px)*/
@media ( min-width :1200px) {
	html {
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 130%; 
	}
	.add-on {
		font-size: 1rem;
	}
}