.subject {
	width: 100%;
	min-height: 100%;
	background: rgb(245, 245, 245);
	position: relative;
	padding-top: 30px;
}

.subject .content {
	width: 100%;
	color: black;
	text-align: left;
	padding-bottom: 70px;
}

.subject .content .container {
	padding: 0px;
}

.subject .content .commonStyle {
	width: 90%;
	background: white;
	padding-top: 20px;
	padding-bottom: 10px;
	margin: auto;
}

.subject .content .commonStyle .row {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.subject .content .commonHr {
	color: rgb(245, 245, 245);
	width: 100%;
	margin: 0px;
}

.subject .content .label {
	color: rgb(109, 110, 113);
	vertical-align: middle;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-weight: 300;
	font-size: .75rem;
}

.subject .content .viewContent {
	color: rgb(109, 110, 113);
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: .75rem;
	line-height: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.subject .content .text {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 100%;
	background-color: white !important;
}

.subject .content .textarea {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 100%;
}

.subject .content .select {
	width: 100%;
	border: none;
	/*�ܹؼ�����Ĭ�ϵ�selectѡ�����ʽ���*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*��ѡ�������Ҳ��м���ʾС��ͷͼƬ*/
	background: url("../../img/select.png") no-repeat scroll right center
		transparent;
	background-size: 10px;
	appearance: none;
}

.subject .content .requireStyle {
	border: 2px solid red;
}

.subject .content .noRequireStyle {
	border: none;
}

.subject .content .categoryStyle {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	display: inline-table;
	border: 2px solid rgb(192, 0, 0);
}

.subject .content .categoryStyle div {
	width: 25%;
	display: table-cell;
	text-align: center;
}

.subject .content .categoryStyle img {
	margin: auto;
}

/**ʵ�ָ���*/
/* .subject .content .categoryStyle img:HOVER{
	transform: scale(1.3);
	transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transition: all 1s ease 0s;
	border: 4px solid rgb(203, 127, 4);
	border-radius: 27px !important;
	max-width: 54px;
	max-height: 54px;
} */
.subject .content .categoryStyle .currentimg {
	/* width: 54px;
	height: 54px;
	border: 4px solid rgb(203, 127, 4);
	border-radius: 27px !important; */
	transform: scale(1.3);
	transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transition: all 1s ease 0s;
	border: 4px solid rgb(203, 127, 4);
	border-radius: 27px !important;
	max-width: 54px;
	max-height: 54px;
}

.subject .content .waitingTaskTitle {
	width: 100%;
	color: white;
	background: rgb(117, 197, 235);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}

.subject .content .waitingTaskCommonStyle {
	width: 90%;
	background: rgb(247, 156, 127);
	margin: auto;
}

.subject .content .waitingTaskCommonStyle .row, .subject .content .viewTaskCommonStyle .row
	{
	padding-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.subject .content .viewTaskTitle {
	width: 100%;
	color: white;
	background: rgb(247, 156, 127);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	font-size: .75rem;
}

.subject .content .viewTaskCommonStyle {
	width: 90%;
	background: white;
	margin: auto;
}

.subject .content .viewHr {
	color: rgb(245, 245, 245);
	width: 100%;
	margin: 0px;
}

.subject .content .company, .subject .content .service {
	margin-top: 40px;
}

.subject .btn {
	width: 90px;
	background: rgb(247, 156, 127);
	border: none;
	color: white;
	background: rgb(247, 156, 127);
}

.subject .footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.subject .footer .btn {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}